<p>
<%= link_to event.external_link do %>
  <%= glyph 'plus-sign' %>
  <%= image_tag event.icon_path, size: "32x32" %>
<% end %>
<%= event.happened_on %> -
<%= raw event.description %>
<% if @owner_viewing %>
  <%= link_to edit_event_path(event.id) do %>
    <%= glyph 'pencil' %>
  <% end %>
  <%= link_to event_path(event.event), method: :delete do %>
    <%= glyph 'remove-sign' %>
  <% end %>
<% end %>
</p>
